html,
body,
div,
form,
fieldset,
legend,
label {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.marginTopBtm10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
